.headerALL {
  background: url("media/header/Layer_6.png");
  width: 1366px;
  height: 769px;
  background-repeat: no-repeat;
  justify-content: center;
  position: relative;
}

.headerText {
  /* Style for "Bangladesh" */
  width: 165px;
  height: 13px;
  color: #82b541;
  font-family: "Roboto Slab";
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  /* Text style for "Bangladesh" */
  letter-spacing: 3.39px;
  justify-content: center;
}

.header_logo {
  text-align: center;
  margin-left: -10px;
}

.headerLogotip {
  padding-top: 43px;
  margin-bottom: 130px;
}

.navbar {
  display: inline-flex;
  justify-content: flex-end;
}

.menu_items {
  /* Style for "Sponsors" */
  width: 76px;
  height: 11px;
  color: #ffffff;
  font-family: "Roboto - Thin", sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 46px;
}

ul, li {
  text-decoration: none;
  display: inline;
  margin: 0;
  padding: 0;
}

.navbar>.menu>ul>li>a {
  text-decoration: none;
  color: inherit;
}

.navbar>.menu>ul>li>a:hover {
  color: #FFD700;
}

.headerTimer {
  align-items: center;
  justify-content: center;
  width: 1060px;
  height: 198px;
  border-radius: 20px;
  border: 2px solid #90d23d;
  margin: auto;
}

.timer {
  font-size: 0;
  text-align: center;
}

.timer_section {
  display: inline-block;
  vertical-align: top;
}

.timer_section>div {
  display: inline-block;
  vertical-align: top;
  font-size: 130px;
  color: #ffffff;
  line-height: 70px;
  width: 65px;
  margin: 0 15px;
  border-radius: 2px;
  font-weight: lighter;
}

.timer_section>div.timer_section_desc {
  display: block;
  background: none;
  line-height: 30px;
  width: auto;
  margin-top: 40px;
  height: 19px;
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.timer_delimetr {
  display: inline-block;
  vertical-align: top;
  font-size: 90px;
  line-height: 70px;
  margin: 0 25px;
  color: #ffffff;
}

@media (max-width: 767px) {
  .timer_section>div {
    font-size: 30px;
    width: 30px;
    line-height: 40px;
  }

  .timer_delimetr {
    line-height: 40px;
    font-size: 30px;
  }

  .timer_section>div.timer_section_desc {
    font-size: 14px;
    line-height: 26px;
  }
}

.IconImg {
  display: inline-flex;
  align-items: flex-end;
  height: 345px;
  margin: 0;
  width: auto;
  position: absolute;
}

.IconsPosition1 {
  margin-left: 13px;
  z-index: 5;
  margin-bottom: 25px;
}

.IconsPosition2 {
  margin-left: -45px;
  z-index: 4;
  margin-bottom: 38px;
}

.IconsPosition3 {
  margin-left: -40px;
  z-index: 3;
  margin-bottom: 50px;
}

.IconsPosition4 {
  margin-left: -35px;
  z-index: 2;
  margin-bottom: 61px;
}

.IconsPosition5 {
  margin-left: -35px;
  z-index: 1;
  margin-bottom: 72px;
}

.headerForm {
  background: url("media/header/base.png");
  width: 431px;
  height: 530px;
  box-shadow: 0 1px 2px rgba(35, 31, 32, 0.65);
  position: absolute;
  right: 85px;
  top: 535px;
  z-index: 1;
  text-align: center;
  padding-top: 33px;
}

.formText {
  width: 280px;
  height: 31px;
  color: #252525;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 700;
}

.form-control-lg {
  margin-top: 21px;
  margin-left: 16px;
  margin-right: 31px;
  width: 371px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #90d23d;
  background-color: #ffffff;
}

.btn {
  margin-top: 39px;
  width: 371px;
  height: 54px;
  margin-left: 16px;
  margin-right: 31px;
  background-color: #90d23d;
  border: none;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 700;
}

#HelpBlock {
  width: 205px;
  height: 34px;
  color: #6c6c6c;
  font-family: 'Roboto';
  font-size: 11px;
  font-weight: 300;
  margin: auto;
}

.sectionMain1 {
  margin-left: 100px;
  margin-top: 15px;
  margin-bottom: 140px;
}

.sectionMain1title {
  width: 218px;
  height: 39px;
  color: #242424;
  font-family: "Roboto";
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 26px;
}

.sectionMain1text {
  width: 545px;
  height: 182px;
  color: #242424;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 300;
}

.sectionMain2 {
  height: 400px;
  width: 1060px;
  margin: auto;
<<<<<<< HEAD
  margin-bottom: 100px;
=======
>>>>>>> 764090fcdb0e87d702c55f54ae3be03477532cda
}

.sectionMain2title {
  height: 35px;
  color: #242424;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: bold;
  margin-top: 40px;
  margin-bottom: 19px;
}

.sectionMain2text {
  width: 298px;
  height: 64px;
  color: #242424;
  font-family: 'Roboto';
  font-size: 13px;
  font-weight: 300;
  text-align: center;
}

.sectionMain2title2 {
  height: 35px;
  color: #242424;
  font-family: "Roboto";
  font-size: 35px;
  font-weight: bold;
  margin-top: 45px;
  margin-bottom: 19px;
}

.sect2Text2 {
  margin-left: 50px;
  margin-right: 30px;
}

.sectionMain3 {
  background: url("media/main/section3/Base.png");
  width: 1030px;
  height: 375px;
  border-radius: 15px;
  background-color: #a3cc40;
  margin: auto;
  margin-top: 100px;
}

.sectionMain3Text1 {
  height: 80px;
  display: inline-flex;
  align-items: center;
}

.sectionMain3Time {
  /* Style for "Time" */
  width: 250px;
  height: 34px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  line-height: normal;
  margin-right: 50px;
}

.sectionMain3Stuff {
  /* Style for "Stuff that" */
  width: 289px;
  height: 34px;
  color: #ffffff;
  font-family: "Roboto";
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
}

.sectionMain3Text2, .sectionMain3Text4 {
  background: url("media/main/section3/1.png");
  width: 1029px;
  height: 75px;
  background-color: #373737;
  display: inline-flex;
  align-items: center;
}

.sectionMain3Text3, .sectionMain3Text5 {
  background: url("media/main/section3/2.png");
  width: 1029px;
  height: 75px;
  background-color: #373737;
  display: inline-flex;
  align-items: center;
}

.TimeAm {
  /* Style for "10am - 12p" */
  width: 250px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
  margin-right: 50px;
}

.TimeAmText {
  /* Style for "Portfolio" */
  width: 503px;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 21px;
  font-weight: lighter;
}

.OpenText {
  margin-left: auto;
  margin-right: 49px;
}

.sectionMain3Text5 {
  border-radius: 0 0 15px 15px;
}
.sectionMain3bottomText {
height: 31px;
color: #242424;
font-family: 'Roboto';
font-size: 13px;
font-weight: 300;
margin-top: 46px;
text-align: center;
}
